* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contacto-texto {
  text-align: center;
  font-size: 30px;
  width: 70vw;
  margin: 30px auto;
  font-family: "tangerine";
  letter-spacing: 1px;
}

span {
  color: #428642;
  font-weight: bold;
}

.contacto-lista {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  margin-bottom: 30px;
  background-color: goldenrod;
  padding: 30px;
}
.contacto-lista > li {
  display: flex;
  align-items: center;
}

.contacto-icono {
  margin-right: 10px;
}

/* aqui pongo los datos de mi formulario de contacto */

form {
  display: flex;
  width: 70vw;
  margin: 10px auto;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.formFlex {
  display: flex;
  width: 100%;
  gap: 20px;
}

.formDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.btn-contacto {
  padding: 10px 20px;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  background-color: #428642;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-contacto:hover {
  background-color: white;
  color: #428642;
}
.mapa {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 30px auto;
  background-color: #f0f0f0;
  padding-bottom: 30px;
  padding-top: 30px;
  border-radius: 10px;
}

.mapa iframe {
  width: 80%;
  border-radius: 10px;
}
