h1 {
  font-size: 3rem;
  text-align: center;
  margin: 20px 0;
  line-height: 1.5;
  color: #428642;
  letter-spacing: 1px;
}
.quienes-somos-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 20px 30px;
}
.quienes-somos-texto > h2 {
  margin-bottom: 20px;
  text-align: center;
  color: goldenrod;
}

.quienes-somos-texto > p {
  line-height: 1.5;
  font-weight: 200;
}

.quienes-somos-div {
  display: flex;
  width: 80%;
  margin: 30px auto;
  gap: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.quienesSomos-img {
  width: 50%;
  height: auto;
  object-fit: cover;
}
/* Galeria de trabajadores */

section {
  margin: 40px 0;
  background-color: #f0f0f0;
  padding-top: 20px;
  padding-bottom: 30px;
}

.galeria-trabajadores {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: 20px auto;
}

.galeria-trabajadores img {
  max-width: 200px;
  height: auto;
  min-height: 140px;
  border-radius: 10px;
}
.galeria-trabajadores img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.nuestro-equipo-titulo {
  text-align: center;
  margin: 40px 20px;
  color: #428642;
}
.video-corporativo {
  width: 80%;
  margin: 20px auto;
}
