.servicios-contenedor1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  padding: 20px;
  gap: 2em;
  margin: 0 auto;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.servicios-tarjeta1 img {
  width: 100%;
  border-radius: 10px;
}
/* no sé porqué aqui no me sale el desplegable del dl */
dl {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
}

.servicios-tarjetas-2 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 3em auto;
}

.servicios-icon-div img {
  width: 10vw;
}
