.servicios-contenedor1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  padding: 20px;
  gap: 2em;
  margin: 30px auto;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.servicios-tarjeta1 img {
  width: 100%;
  border-radius: 10px;
}
/* no sé porqué aqui no me sale el desplegable del dl */
dl {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
}

.servicios-tarjetas-2 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 3em auto;
}
.tarjetas2-titulo {
  text-align: center;
  line-height: 2;
}

.division {
  width: 100%;
  height: 20px;
  background-color: goldenrod;
  margin-bottom: 30px;
}

.servicios-icon-div img {
  width: 10vw;
}
/*  Estilos para la tabla  */
table {
  width: 60%;
  margin: 3em auto;
  border-collapse: collapse;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

table th,
table td {
  border: 1px solid #cccccc5f;
  padding: 12px;
  text-align: left;
  color: rgb(116, 114, 114);
}

.tfoot-data {
  background-color: #4286424c;
}
.tabla-titulo {
  background-color: #428642;
  color: white;
}
.tabla-sec-linea {
  border-bottom: 1px solid #428642;
}
caption {
  margin-bottom: 1em;
  font-size: 1.5em;
  color: goldenrod;
}
.rowspan-color {
  background-color: rgba(218, 165, 32, 0.08);
  text-align: center;
  color: goldenrod;
}

.check::after {
  content: "✔️";
  float: right;
}
.table-rowspan-icon {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 10px;
  width: 100px;
}
