/* Inicio de estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generales body */

body {
  font-family: "Roboto", sans-serif;
  background: #f5f5f5;
}

.menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
  align-content: center;
}
.logo > img {
  width: 75px;
}

.menu li {
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #428642;
  align-self: center;
  text-decoration: none;
}
.menu li > a {
  text-decoration: none;
}

.menu li:hover {
  background: #3333332d;
  color: white;
  border-radius: 4px;
}

.header-Img {
  width: 100%;
  height: 70dvh;
  object-fit: cover;
  object-position: top;
}

video {
  width: 100%;
  height: 70dvh;
  object-fit: cover;
  position: center;
}

nav {
  position: relative;
}
.titulo-frame {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #428642;
  box-shadow: 1px 1px 10px 1px #ccc;
  padding: 20px;
  border-radius: 10px;
}
.titulo {
  line-height: 3;
  font-size: 3rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: #428642;
  margin-top: 20px;
  margin-bottom: 30px;
  line-height: 2;
}
.titulo-leyenda {
  margin-bottom: 20px;
}
/* formularios */

input {
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
}

label {
  color: #428642;
}

input,
textarea {
  width: 100%;
  margin-bottom: 40px;
  padding: 20px;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Footer */
footer {
  background-color: #428642;
  color: white;
  margin: 30px 0 auto;
  font-weight: 200;
}
.footer-contenido {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 20px;
  line-height: 1.5;
  cursor: pointer;
}

.footer-iconos-redes > img {
  width: 30px;
  margin-right: 10px;
  cursor: pointer;
}
.redesIconUl {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.footerlist {
  list-style: none;
}
.derechosReservados {
  text-align: center;
  padding: 20px;
}
.footer-encabezado {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Fin de estilos generales */
