h3 {
  text-align: center;
  font-family: "Tangerine" cursive;
  letter-spacing: 1px;
  color: goldenrod;
}

form {
  margin: 2em auto;
  width: 80%;
  height: auto;
}

.contenedor-flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  width: 100%;
}

button {
  display: flex;
  justify-self: end;
  padding: 10px 20px;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  background-color: #428642;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
select {
  width: 100%;
  margin-bottom: 40px;
  padding: 20px;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h4 {
  text-align: center;
  margin-top: 2em;
  color: #428642;
}
